*{
  margin: 0;
  padding: 0;
}
.canvas{
    margin: 100px;
    position: relative;
	.doraemon{
      position: relative;
      @import "head";
      @import "neck";
      @import "bodys";
      @import "footer";
	}
}
